@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500;700&family=Sora:wght@300;500&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: serif;
  background-color: #f0eccf;
}

/* SKIP TO CONTENT */
.skip-link {
  position: absolute;
  top: -40px;
  left: 0;
  background-color: #bf1722;
  color: white;
  padding: 8px;
  z-index: 100;
}

.skip-link:focus {
  top: 0;
}

/* HEADER */
header {
  background-color: #ffb100;
  color: white;
  text-align: center;
  padding: 15px;
}

.header_menu {
  font-size: 32px;
  margin: 10px auto;
  flex-direction: column;
  width: 50px;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  color: white;
}

/* NAVIGATION */
nav {
  background-color: #fbc252;
  padding: 10px;
  text-align: center;
}

.nav_list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-decoration: none;
  list-style-type: none;
}

.nav_item {
  box-sizing: border-box;
}

nav a {
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  padding: 1em;
}

nav a:hover {
  font-weight: bold;
  color: #fff;
}

/* JUMBOTRON */
.hero {
  display: flex;
  width: 100%;
  min-height: 350px;
  background-image: url("../public/images/heros/hero-image_2.jpg");
  background-position: center;
  background-color: green;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #ffb100;
}

.hero > h2 {
  font-size: 50px;
}

.hero > p {
  font-size: 20px;
}

/* MAIN */
main {
  padding: 20px;
  margin: 0 auto;
  text-align: center;
}

main > h2 {
  color: #617143;
  padding: 15px;
  border-bottom: 1px solid #ffb100;
  font-family: "Quicksand";
}

/* RESTAURANT RECOMMENDATION */
article {
  display: grid;
}

.item {
  margin: 15px;
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  display: block;
  box-shadow: 0 2px 8px 2px #fbc252;
}

.item > img {
  width: 100%;
  height: 350px;
  object-fit: cover;
}

.desc {
  padding: 10px;
  text-align: justify;
}

.item > .desc > h3 {
  text-align: center;
  font-family: "Quicksand";
}

/* FOOTER */
footer {
  background-color: #539165;
  padding: 40px;
  text-align: center;
  font-weight: lighter;
  color: white;
}
