<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <title>Restaurant for you</title>
</head>
<body>
  <a href="#maincontent" class="skip-link">Skip to content</a>
  <header>
    <h1>Nyam!</h1>
    <a href="#" id="menu" class="header_menu">☰</a>
  </header>
  
  <nav id="drawer">
    <ul class="nav_list">
      <li class="nav_item"><a href="/">Home</a></li>
      <li class="nav_item"><a href="#">Favorite</a></li>
      <li class="nav_item"><a href="https://www.linkedin.com/in/salsabila-nur-ruslanti-512113272?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3B7WDjeJTFR620FR73d15yjw%3D%3D">About Us</a></li>
    </ul>
  </nav>

  <div class = "hero" id = "hero">
    <h2>Welcome to <b>Nyam!</b></h2>
    <p>Please, enjoy to look up for our recommendation restaurant</p>
  </div>

  <main id="maincontent">
    <h2>Restaurant Recommendation</h2>
    <section>
      <article id="restaurant">
      </article>
    </section>
  </main>

  <footer>
    <h2>Copyright &#169 2020 - Nyam!</h2>
  </footer>
</body>
</html>
